.View {
  background-color: lightblue;
  border: .1em solid black;
  margin: .5em;
  display: flex;
  flex-direction: column;
  height: flex;

}
.ViewFooter {
  background-color: rgb(238, 238, 213);;
  border: .1em solid black;
  margin: 1em .5em;
  height: 1.5em;
}

h4, h6, p {
  margin: .5em;
}

.Delete {
  margin: 0em 15em .5em 0em;
  border: none;
  padding: 0;
  height: 1.5em;
}

.Bookmark {
  margin: 0em 0em .5em 15em;
  border: none;
  padding: 0;
  height: 1.5em;
}